<div class="flex flex-col w-full">
  <h1 class="text-3xl">List of Geeks</h1>

  <ul class="flex flex-col gap-3 w-full">
    <p class="only:block hidden">There are no posts yet!</p>
    <% @users.each do |user| %>
      <%= link_to user_path(user.id) do %>
        <%= render partial:'shared/user', locals: {user: user} %>
      <% end %>
    <% end %>
    
  </ul>
</div>
