<%= link_to new_user_post_path(@user), class: "link" do %>
    <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">Create new post</button>
<% end %>