<li class ="flex flex-col gap-3 w-full border border-black border-solid md:flex-row ">
  <img src="<%= user.photo %>">
  <div class="flex justify-between items-center p-4 w-full">
    <h3><%= user.name %></h3>
    <span class="self-end">nยบ of posts: <%= user.posts.length %></span>
  </div>
</li>