<div class="flex flex-col w-full gap-3">
  <%= render partial:'shared/user', locals: {user: @user} %>
  <ul id="list-of-posts" class="flex flex-col gap-3 w-full">
    <p class="only:block hidden">There are no posts yet!</p>
    <% @posts.each do |post| %>
      <%= link_to user_post_path(@user, post.id), id: "post-#{post.id}" do %>
        <div class="hover:bg-gray-100">
          <%= render partial:'shared/post_highlight', locals: { post: post } %>
          <%= render partial:'shared/post_comments', locals: { comments: post.last_5_comments, post_id: post.id } %>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>